.details-header {
  align-items: center;
  display: inline-block;
  margin: 5px;
}

.details-recipe-image {
  max-width: 100%;
}

.share-favorite-buttons {
  display: inline;
}

.instructions {
  align-self: center;
  max-width: min-content;
}

.recommended-list {
  display: flex;

  /* flex-wrap: wrap; */
  margin-bottom: 30px;
  overflow-x: scroll;
}

.recommended-card {
  background-color: aliceblue;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 172px;
  margin: 30px;
  padding: 5px;
  width: 152px;
}

.recommended-card img {
  height: 50%;

  /* width: 100%; */
}

.start-recipe {
  bottom: 0;
  position: fixed;
}
