.details-header {
  display: inline-block;
  margin: 5px;
  align-items: center;
}

.details-recipe-image {
  max-width: 100%;
}

.share-favorite-buttons {
  display: inline;
}

.instructions {
  max-width: min-content;
  align-self: center;
}

.recommended-list {
  display: flex;
  flex-wrap: wrap;
}

.recommended-card {
  background-color: aliceblue;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 172px;
  margin: 3px;
  width: 152px;
}

.recommended-card img {
  height: 50%;
  width: 70%;
}

.start-recipe {
  bottom: 0;
  position: fixed;
}
